@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h5>Form controls</h5>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <form id="fhir_form">
                            <label for="exampleInputEmail1">FHIR Server URL</label>
                            <div class="input-group mb-3">
                                <input type="url" name="url" class="form-control" placeholder="http://hapi.fhir.org/baseR4" value="https://hapi.fhir.tw/fhir">
                                <div class="input-group-append">
                                    <button type="Submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12">
        <div class="card bg-light">
            <div class="card-header">
                <h5>Json</h5>
            </div>
            @*<div class="card-block table-border-style">
                    <div class="table-responsive">
                    </div>
                </div>*@
            <div class="card-body">
                <pre class="json-card"></pre>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $("#fhir_form").submit(function (e) {

            e.preventDefault(); // avoid to execute the actual submit of the form.
            var form = $(this);
            $.ajax({
                type: "POST",
                url: "@Url.Action("Index", "Home")",
                data: form.serialize(), // serializes the form's elements.
                dataType: "json", //response的資料格式
                success: function (data) {
                    console.log(data);
                    var str = JSON.stringify(data, null, 2)
                    $(".json-card").text(str);
                }
            });


        });

    </script>
}